@import "tailwindcss";

:root {
  --background: #131313;
  --primary: #76FF1A;
  --sec-color: #FBFBFB;
  --primaryHover: #67e016;
  --border2-color: #a7a7a755;
  --2-sec: #2D2D2D;
}

body{
 background: var(--background);
}

button{
  /* max-width: fit-content; */
  background-color: var(--primary);
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--background);
}
button:hover{
  cursor: pointer;
  background-color: var(--primaryHover);  
}

h1 , h2 , h3 , h4 , h5 , h6 {
  font-family: var(--font-Titan_One);
}

.fade-in-down {
  opacity: 0;
  transform: translateY(-10px); /* Start 50px above */
  animation: fadeInDown 0.5s ease-out forwards;
}

/* Keyframes for fade + slide down */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}